img{ 
  width:220px;
  
}

h1{
  color: lightblue;
  text-align:center;
}

p,li{
  font-size:1.2em;
  color:white;
  max-width:80%;
  font-family: 'Muli', sans-serif;
  
}

body{
  background-color:#a10022;
}

a{
  color:white;
  font-size:1.5em;
}

.profilepicture{
  border-radius:50%;
  float:left;
  margin:5px;
}

h1,h2{
  font-family: 'Vollkorn', serif;
  
}

.aboutme{
  
}

.about{
 
}
